form {
    display:grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;
    max-width: 400px;
    margin: 20px;
}

.form-button {
    grid-column: 2;
    justify-self: start;
    margin-top: 10px;
    background-color: red;
    text-decoration: wavy;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 3px;
    border: 2px solid darkgreen;
    box-shadow: 1px 1px 13px red;
}

.form-button:hover {
    box-shadow: -50px 0px 5px blue,
        0px -50px 5px green,
        50px 0px 5px red, 
        0px 50px 5px yellow;
    transition: ease-out 1s;
}

form input:focus {
    border: 2px dotted black;
    text-indent: 90%;
    transition: 2s ease-in;
    transform: translateY(1000px) translateX(100px) rotate(180deg);
}