:root {
    --background-color: rgba(117, 200, 216, 0.581);
}

body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;


h1 {
    color: blueviolet;
    display: flex;
    justify-content: center;
    margin: 100px;
    border: solid 5px black;

}

.hover-button {
    color: grey;
    text-decoration: none;
    transition: color 0.3s ease;
}

.hover-button:hover {
background-color: red;
transform: matrix(1, 0, 0, 2, 4, 4);
cursor: crosshair;
}

.name {
    border-spacing: 30x;
}