div {
    border: 1px black solid;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: auto auto auto;
    grid-template-rows: 4% 4% auto 12%;
    margin: 0;
}

.full-row {
    grid-column: 1 / -1;
}